<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Edit Crap</h1>
  </div>
</div>
<!-- TODO
<div class="container">
  <div class="row">
    <div class="col-md-8 container">
      <table class="table">
        <thead>
          <tr>
            <th class="col-xs-3">Currency</th>
            <th class="col-xs-3">Amount</th>
            <th class="col-xs-3">BTC value</th>
            <th class="col-xs-3">USD value</th>
          </tr>
        </thead>
        <tbody>
          {{range .CoinValues}}
            <tr>
              <td class="col-xs-3">{{.Name}}</abbr></td>
              <td class="col-xs-3">{{.Quantity}} {{.Abbr}}</td>
              <td class="col-xs-3">{{.BtcValue}} BTC</td>
              <td class="col-xs-3">${{.UsdValue}}</td>
            </tr>
          {{end}}
        </tbody>
        <tfoot>
          <tr>
            <th class="col-xs-3">Total:</td>
            <th class="col-xs-3"></td>
            <th class="col-xs-3">{{.BtcNetWorth}} BTC</td>
            <th class="col-xs-3">${{.UsdNetWorth}}</td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="col-md-4">
      <h2>Asset Graph</h2>
      <div id="graph-container">
        <h3>Loading...</h3>
      </div>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; Matt Horn 2014</p>
  </footer>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.8/d3.min.js" charset="utf-8"></script>

<script>
  window.data = {{.}}
</script>

<script src="js/graph.js"></script>

-->
